.animeClass {
    opacity: 0
}

.animeClass.animeFromTop {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px)
}

.animeClass.animeScaleIn {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9)
}

.animeClass.fadeIn {
    opacity: 0
}

.animeClass.animeFromBottom {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px)
}

.animeClass.animeFromRight {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px)
}

.animeClass.animeFromLeft {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    -o-transform: translateX(-80px);
    transform: translateX(-80px)
}

.animeClass.animated {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 1.6s;
    -moz-transition: all 1.6s;
    -ms-transition: all 1.6s;
    -o-transition: all 1.6s;
    transition: all 1.6s
}

.animeClass.animated.trans-1000 {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.animeClass.animated.trans1300 {
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s
}

.animeClass.animated.trans-1600 {
    -webkit-transition: all 1.6s;
    -moz-transition: all 1.6s;
    -ms-transition: all 1.6s;
    -o-transition: all 1.6s;
    transition: all 1.6s
}

.animeClass.animated.trans-2000 {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s
}

.noTransition {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

.animeClass.nooverflow {
    overflow: visible
}